body{
    font-family: Arial, Helvetica, sans-serif;
}

#content div {
    display: inline-block;
    margin: 2px;
    background-color: purple;
    color: #ffffff;
    padding: 8px;
    width: 100px;
    height: 14px;
    text-align: center;
}