.adicionar_mat{
    height: 550px;
    width: 500px;
    border-radius: 10%;
    left: 600px;
    top: 150px;
}

.botao-salvar {
    height: 30px;
    display: inline-flex;
    width: 50%;
    background-color: rgb(104, 0, 201);
    color: white;
    padding-left: 90px;
    margin-top: 90px;
    margin-left: 130px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.botao-salvar:hover{
    background-color: black;
}

.input-materia {
    width: calc(80% - 20px);
    padding: 8px;
    margin-left: 10%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 25px;
}

.titulo-adicionar {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
}

.titulo-ad{
    font-size: 35px;
    margin-bottom: 11px;
}

.fechar-modal-adicionar{
    height: 30px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    color: black;
}

.x{
    color: black;
    display: flex;
    font-weight: bols;
    padding-left: 4px;
    padding-top: 6px;
    cursor: pointer;
}

.x:hover{
    color: white;
}

.fechar-modal-adicionar:hover{
    background-color: red;
    color: white;
}

.nome-materia{
    text-align: center;
    margin-bottom: 20px;
    color: black;
    margin-left: 32%;
}

.conteiner-datas {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.data-inicio, .data-fim{
    border: 2px solid black;
    padding: 20px;
    display: grid;
}

.titulo-inicio, .titulo-fim{
    margin-left: 25%;
    font-weight: bold;
}

.origem-adicionar{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.titulo-origem{
    font-weight: bold;
    margin-left: 20%;
}

.input-or{
    border-radius: 5px;
    margin-right: 60px;
    margin-top: 3px;
    font-size: 95%;
    padding: 5px;
}
