.bloco-anotacao {
    margin-left: 40px;
    position: fixed;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%);
    width: 60%; 
    height: 75%;
    background-color: white; 
    border: 1px solid black; 
    border-radius: 5px; 
    padding: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .notas{
    background-color: black;
  }

  .bloco-anotacao .notas {
    margin-top: 14px;
    margin-left: 19px;
    width: 95%;
    height: 95%;
    background-color: inherit;
    border-radius: inherit;
    padding: inherit;
  }

  .input-notas {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0;
    outline: none;
    overflow: auto;
  }
