.barra {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.titulo{
    color: white;
    margin: 0;
    margin-left: 700px;
    font-size: 40px;
}

.dialog_button{
    text-decoration: white;
    text-decoration: none;
    border: none;
    font-size: 60px;
    cursor: pointer;
    background-color: black;
    color: white;
    margin-left: 3%;
}

.pop-up-dialog{
    background-color: black;
}

.bi bi-arrow-down-square-fill{
    font-weight: bold;
}
