.barra {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.titulo {
    color: white;
    margin: 0;
    margin-left: 750px;
}

.calendario_filtro {
   margin-right: 1%;
}

.calendario_btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 50px;
}

.pop-up-dialog{
    background-color: black;
}

.bi bi-arrow-down-square-fill{
    font-weight: bold;
}
