.icon_calendario{
  font-size: 55px;
  margin-top: 10px;
}

.icon_calendario:hover{
  color: white;
}

.dialog_button{
  text-decoration: white;
  text-decoration: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  background-color: black;
  color: white;
  margin-bottom: 10px;
}

.fechar-calendario i:hover{
  color: red;
}

.bi bi-calendar3{
  color: white;
} 

.calendario {
  background-color: black;
  position: fixed;
  left: 67%;
  top: 13%;
  width: 500px;
  height: 500px;
  margin: 20px auto;
  border: 3px solid blueviolet;
  border-radius: 6%;
  padding: 20px;
}

#btnAnterior,
#btnProximo{
  width: 30px;
  font-size: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}

.cabecalho {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.botao {
  width: 50px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 18px;
}

.dias-semana {
  margin-top: 25px;
  color: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
}

.dia-semana {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
}

.dias {
  color: white;
  margin-top: 15px;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  cursor: pointer;
}

.dia:hover{
  background-image: url(https://img.freepik.com/fotos-premium/papel-de-parede-de-nuvens-roxas-de-anime_969965-15595.jpg);
  color: white;
  transform: scale(1.4);
  transition: transform 0.6s ease;
}

.dia {
  border-radius: 15%;
  height: 50px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}
