div {
    background-color: black;
    border-color: blueviolet;
}

.calendario {
    background-color: black;
    border-color: blueviolet;
}

.dias li {
    background-color: rgb(24, 24, 24);
    border-color: blueviolet;
}

.dias .dia :hover{
    background-color: rgb(156, 60, 245);
    color: black; 
}

.pop-up-dialog {
    margin: 0;
    padding: 0;
  }
  
  .calendario {
    margin: 0;
    padding: 0;
  }
