body{
    background-color: black;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.nodes text {
    font: 10px sans-serif;
    text-anchor: middle;
    font-weight: 700;
    font-size:.9em;
}