* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
}

nav.menu-lateral {
    width: 70px;
    height: 100%;
    background-color: black;
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden; /*esconde o titulo*/
    box-shadow: 4px 0 0 blueviolet;
}

nav.menu-lateral:hover{
    width: 300px; /*passa mouse por cima mostra menu*/
    transition: 2s;
}

nav.menu-lateral:not(hover){
    transition: 2s;
}

.b-expandir {
    width: 100%;
    padding-right: 20px;
}

.b-expandir > i {
    color: white;
    font-size: 30px; /* aumenta o tamanho do ícone */
    cursor: pointer;

}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu:hover {
    background: blueviolet;
}

ul li.item-menu:hover a {
    color: black; /*muda a cor do texto para preto*/
}

ul li.item-menu {
    transition: .2s;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20% 4%;
    display: flex;
    margin-bottom: 20px;
}

ul li.item-menu a .texto {
    margin-left: 24px;
}

ul li.item-menu a .icone > i {
    font-size: 30px;
    padding-right: 20px;
}

div.nome-materia{
    width: 100%;
    height: 80px;
    left: 1px;
    padding-left: 600px;
    padding-top: 18px;
    color: white;
    background-color: black;
}

div.nome-materia ul li b.titulo{
    font-size: 40px;
}


