* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
}

nav.menu-lateral {
    width: 20%;
    height: 100%;
    background-color: black;
    padding: 40px 0px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;

    transition: width 1s;
}

.b-expandir {
    width: 100%;
    padding-right: 30px;
    padding-top: 20px;
}

.b-expandir > i {
    color: white;
    font-size: 50px;
    cursor: pointer;
    padding-left: 14px;
}

.botão {
    background-color: black;
    color: white;
    width: 100%;
    border: none;
    padding: 20px;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.botão:hover {
    background-color: blueviolet;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li.item-menu button {
    color: aliceblue;
    display: flex;
    align-items: center;
}

.icone {
    margin-right: 10px;
    font-size: 40px;
    padding-right: 15px;
    padding-left: 0px;
}

.menu-lateral::-webkit-scrollbar {
    width: 8px;
    background-color: black;
}

.menu-lateral::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 4px;
}
